<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link media="all" rel="stylesheet"
          href="//netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<div th:replace="fragments/general.html :: header">1</div>
<div th:replace="fragments/general.html :: menu">2</div>
<div th:replace="fragments/general.html :: content">3</div>
<div th:replace="fragments/general.html :: footer">4</div>
</body>
</html>